<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{{ page.description | default: site.description }}"
    />
    <meta name="author" content="Dr. Sven Führing" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <title>{{ page.title | default: site.title }}</title>

    <!-- Plotly Laden im Head, an dieser Stelle !!! -->
    {% if page.external_js and page.external_js contains "plotly" %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% endif %}

    <!-- Internes common CSS -->
    <link rel="stylesheet" href="/assets/css/common.css" />

    <!-- Weitere interne CSS -->
    {% if page.internal_css %} {% for css in page.internal_css %}
    <link rel="stylesheet" href="{{ css }}" />
    {% endfor %} {% endif %}

    <!-- Externe CSS -->
    {% if page.external_css %} {% for css in page.external_css %} {% assign url = site.external_css[css] %} {% if url %}
    <link rel="stylesheet" href="{{ url }}" />
    {% endif %} {% endfor %} {% endif %}

    <!-- MathJax Konfiguration und asynchrones Laden im Head -->
    {% if page.external_js and page.external_js contains "mathjax" %}
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [
            ["\\(", "\\)"],
            ["$", "$"],
          ],
          displayMath: [
            ["\\[", "\\]"],
            ["$$", "$$"],
          ],
        },
        svg: { fontCache: "global" },
      };
    </script>
    <script
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    {% endif %}
  </head>

  <body>
    <header>
      <a
        href="https://mathedoc.github.io/digitalmath/index"
        class="link-homepage"
        title="home"
      >
        <h1>{{ site.title }}</h1>
      </a>
    </header>

    <main>
      <!-- Main HTML -->
      {% if page.main_html %}
      {% include {{ page.main_html }} %}
      {% endif %}
    </main>

    <!-- Interne JS-Dateien -->
    {% if page.internal_js %} {% for js in page.internal_js %}
    <script src="{{ js }}"></script>
    {% endfor %} {% endif %}
  </body>
</html>
